<div ng-include="'views/partials/nav.html'">
</div>


<div class="section">
  <div>
    <div layout="column"> 
      <div>
        <button ng-click="vm.playTrack()">PLAY</button>
        <button ng-class="vm.stopTrack()">STOP</button>
      </div>
    <div layout="row">
      <div layout="column">
        <div ng-repeat="component in vm.project.arrayScore" class="first-box box">
          <p>{{component.componentName}}</p>
          {{vm.isPlaying}}
          <button ng-click="vm.createReadableScore(vm.project.arrayScore[0].score)">Edit</button>
        </div>
      </div>
      <div layout="column">
        <div ng-repeat="component in vm.project.arrayScore" flex class="second-box box">
          <h2>{{component.componentName}}</h2>
          <p></p>
          <table>
            <tbody>
              <tr ng-repeat="note in component.score">
                <td class="note" ng-repeat="beat in note">
                  <button ng-click="vm.editNote(beat)">{{beat.on}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>