<div ng-include="'views/partials/nav.html'">
</div>


<div class="section">
  <div>

    <div layout="row">
      <div class="first-box box">
        <p>Bass</p>>
        <button ng-click="">Edit</button>
      </div>
      <div layout="column">
        <div flex class="second-box box">
          <h2>BUISINESS</h2>
          <p></p>
          <table>
            <tbody>
              <tr ng-repeat="note in vm.project.arrayScore"><td ng-repeat="beat in note"><button>{{beat.position}}</button></td></tr>
            </tbody>
          </table>
        </div>
        <div flex class="second-box box">
          I'm below on mobile, and to the right on larger devices
        </div>
        <div flex class="second-box box">
          I'm below on mobile, and to the right on larger devices
        </div>
        <div flex class="second-box box">
          I'm below on mobile, and to the right on larger devices
        </div>
      </div>
    </div>
    <br>
    <div layout="row" layout-align="center center">
      <div flex="30" flex-gt-sm="20" class="first-box box">
        Here flex is 30
      </div>

    </div>
    <br>
    <div layout="row" layout-align="center">
      <md-button class="md-primary md-raised" ng-click="mc.showAlert($event)">Alert!</md-button>
    </div>
    <i class="material-icons">local_pizza</i>

  </div>
</div>