<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div flex class="box">
    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!  You are currently editing {{vm.currentProject.name}}</h1>
    <form>
        <input type="text" ng-model="vm.newProject.name">
        <button ng-click="vm.createProject(vm.newProject)">New Project</button>
    </form>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
</div>
    <div layout=column>
        <div>
            <h2>My Projects</h2>
    <table>
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    Collaborators
                </th>
                <th>
                    Add Collaborator
                </th>
                <th>
                    Open
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects.list">
                <td>{{project.project_name}}</td>
                <td>{{vm.listCollaborators(project.array_agg)}}</td>
                <td>{{project.array_agg}}</td>
                <td><button ng-click="vm.selectProject (project.project_name)">OPEN</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div></div>
<h4>{{vm.project.list}}</h4>
</div>