<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
    <table>
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Collaborators
                </th>
                <th>
                    Add Contributor
                </th>
                <th>
                    Open
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
